[defaults]
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 86400

[inventory]
# Enable caching for dynamic inventory scripts
cache = True
cache_plugin = jsonfile
cache_timeout = 86400
cache_connection = /tmp/ansible_inventory_cache
